gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
.gradle/1.12/taskArtifacts/cache.properties
.gradle/1.12/taskArtifacts/cache.properties.lock
.gradle/1.12/taskArtifacts/fileHashes.bin
.gradle/1.12/taskArtifacts/fileSnapshots.bin
.gradle/1.12/taskArtifacts/outputFileStates.bin
.gradle/1.12/taskArtifacts/taskArtifacts.bin
.idea/.name
.idea/checkstyle-idea.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/appcompat_v7_19_1_0.xml
.idea/libraries/picasso_2_2_0.xml
.idea/libraries/support_v4_19_1_0.xml
.idea/scopes/scope_settings.xml
